[submodule "awesome-copycats"]
	path = config/awesome
	url = git://github.com/oibind/awesome-copycats.git
[submodule "dotbot"]
	path = dotbot
	url = git://github.com/anishathalye/dotbot.git
[submodule "config/tmux/tpm"]
	path = config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/awesome"]
	path = config/awesome
	url = https://github.com/oibind/awesome-copycats.git
