[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "config/tmux/plugins/tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "config/tmux/plugins/tmux-continuum"]
	path = config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "config/tmux/plugins/vim-tmux-navigator"]
	path = config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "config/awesome"]
	path = config/awesome
	url = git://github.com/oibind/awesome-copycats.git
