[submodule "awesome-copycats"]
	path = .config/awesome
	url = git://github.com/oibind/awesome-copycats.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
